@media only screen and (min-width: 70em) {
    header {
         flex-direction: row;
    }
    .bookNow {
         margin-left: auto;
         margin-right: 2rem;
    }
    #heading1 {
        margin-left: 2rem;
        font-size: 4rem;
    }
    header img {
        margin-left: 6rem;
        width: 70px;
    }
    #reserveNow {
        font-size: 1.5rem;
    }
    .navigmenu {
        display: flex;
    }
    .navigmenu li:first-child {
        display: none;
    }
    .navigmenu li {
        flex: 1 1 100%;
        display: block;
    }
    .okcimages {
        grid-template-columns: auto auto auto;
    }
}