@media only screen and (min-width: 40em) {

    .container {
        width: 100%;
        max-width: 800px;
        margin: 50px auto;
        margin-bottom: 20px;
    }
    .templeactivity {
        display: grid;
    }
    .activityimg:first-of-type {
        grid-column: 2/span 2;
        grid-row: 1/span 2;
    }
    .activityimg:last-of-type {
        grid-column: 1/span 2;
        grid-row: 2/span 2;
    }
    #come {
        margin-bottom: 10px;
        font-size: 1.8rem;
    }
    .footerstuff {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        padding-left: 20px;
    }
    footer img {
        display: none;
    }
    .okcimages {
        display: grid;
        grid-template-columns: auto;
    }
    #okcdrop {
        display: none;
    }
    .receptimg {
        max-width: 350px;
    }
}