body {
    font-family: 'Chilanka', 'Arial', cursive;
    font-size: 16px;
}
header, main, footer {
    margin: 1.5em auto;
    max-width: 800px;
}
header, footer {
    background-color: #007841;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
}
header img {
    width: 150px;
    margin: 15px;
}
header {
    font-weight: bold;
    font-size: 1.5rem;
    height: 4em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
h1, h2 {
    font-family: 'Righteous', cursive;
}
main h2 {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-left: 2em;
    font-size: 1rem;
}
footer {
    height: 2.5em;
    font-size: 0.9em;
}
footer a {
    color: white;
}
footer div {
    color: yellow;
}
main ul {
    margin-left: 2em;
}