body {
    font-family: 'Chilanka', 'Arial', cursive;
    font-size: 16px;
}
header, footer {
    background-color: #007841;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;

}
header img {
    float: right;
    width: 100px;
    margin: 15px;
}
header {
    font-weight: bold;
    height: 3em;
}
main h2 {
    font-weight: bold;
    border-bottom: 5px, solid, black;
}
footer div {
    color: yellow;
}