body {
    font-family: 'Chilanka', 'Arial', cursive;
    font-size: 16px;
}
main {
    max-width: 900px;
    line-height: 1.5;
}
header, footer {
    background-color: #007841;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;

}
header img {
    float: right;
    width: 100px;
    margin: 15px;
}
header {
    font-weight: bold;
}

main h2 {
    font-weight: bold;
    border-bottom: 5px, solid, black;
}