@media only screen and (min-width: 37.5em) {
    .navlist {
        display: flex;
    }
    .navlist li:first-child {
        display: none;
    }
    .navlist li {
        flex: 1 1 100%;
        display: block;
    }
    
}