body {
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}
header, footer {
    background-color: #57bc90;
    text-align: center;
    color: black;
    padding: 0.5rem;
}
header {
    align-items: center;
    justify-content: center;
}
header img {
    width: 70px;
}
.heading {
    display: flex;
    flex-direction: column;
}
footer, main {
    max-width: 1080px;
    margin: 0 auto;
}
.heading h1 {
    font-size: 1.75rem;
    margin: 0 0 0 15px;
}
h2 {
    font-size: 1.65rem;
    text-align: center;
}
.motto {
    font-style: italic;
    font-size: 0.9rem;
    margin-left: 18px;
}
nav {
    background-color: #015249;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navlist li:first-child {
    display: block;
}
.navlist li {
    display: none;
}
.navlist a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
}
nav a:hover {
    background-color: #77c9d4;
    color: black;
}
.responsive li {
    display: block;
}
.active {
    color: rgb(84, 169, 226);
}
main {
    background-color: #a5a5af;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr;
}
.holderbox {
    width: 100%;
    margin: 10px 0;
    border: 1px dashed black;
    padding: 5px;
    background-color: white;
    color: black;
}
