body {
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #77C9D4;
    padding: 0;
    margin: 0;
}
header {
    background-color: #57bc90;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    width: 70px;
}
.heading {
    display: flex;
    flex-direction: column;
}
.heading h1 {
    font-size: 1.75rem;
    margin: 0 0 0 15px;
}
.motto {
    font-style: italic;
    font-size: 0.9rem;
    margin-left: 18px;
}
nav {
    width: 100%;
    margin: 0;
    background-color: #015249;
}
.navlist {
    text-align: center;
    list-style: none;
    padding: 0;
}
.navlist li:first-child {
    display: block;
}
.navlist li {
    display: none;
}
.navlist a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 0.8rem;
}
.navlist a:hover {
    background-color: #a5a5af;
    color: black;
    font-weight: 700;
}
.responsive li {
    display: block;
}

