body {
    font-size: 16px;
    font-family: 'Mansalva', cursive;
}
header, footer {
    font-family: 'ABeeZee', Arial, sans-serif;
    background-color: #007841;
    text-align: center;
    color: white;
    max-width: 900px;
    height: 3.5rem;
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin: 0 auto;
    font-size: 0.9rem;
}
h4 {
    margin: 0;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 10px 10px 0px 0px;
    color: black;
    height: 30px;
    border: 1px solid gray;

}
main section {
    border: 1px solid gray;
    margin: 0.5rem;
    background-color: beige;
    padding: 0.5rem;
}
footer {
    height: 3em;
    font-size: 0.9em;
}
footer a {
    color: white;
}
footer div {
    color: yellow;
}
