body {
    font-size: 16px;
    font-family: 'Mansalva', cursive;
}
header, footer {
    font-family: 'ABeeZee', Arial, sans-serif;
    background-color: #007841;
    text-align: center;
    color: white;
    max-width: 1080px;
    margin: 0 auto;
}
h3 {
    margin: 0;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 10px 10px 0px 0px;
    color: black;
    height: 26px;
    border: 1px solid gray;

}
h4, p {
    padding: 1rem;
}
.explain {
    line-height: 1.5rem;
}
section {
    border: 1px solid gray;
    margin: 0.5rem;
    background-color: beige;
    border-radius: 10px 10px 0px 0px;
}
img {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1080px;
    margin: 0 auto;
    font-size: 0.9rem;
}
footer {
    height: 3em;
    font-size: 0.9em;
}
footer a {
    color: white;
}
footer div {
    color: yellow;
}
