@media only screen and (min-width: 40em) {
    .heading h1 {
        font-size: 2rem;
    }
    header img {
        width: 80px;
    }
    .motto {
        font-size: 0.95rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .summary h3 {
        font-size: 1.2rem;
    }
    .summary {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    
}