body {
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}
header, footer {
    background-color: #57bc90;
    color: black;
    padding: 0.5rem;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    width: 70px;
}
.heading {
    display: flex;
    flex-direction: column;
}
.heading h1 {
    font-size: 1.75rem;
    margin: 0 0 0 15px;
}
h2 {
    font-size: 1.35rem;
    text-align: center;
}
.motto {
    font-style: italic;
    font-size: 0.9rem;
    margin-left: 18px;
}
nav {
    background-color: #015249;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navlist li:first-child {
    display: block;
}
.navlist li {
    display: none;
}
.navlist li .active {
    color: rgb(84, 169, 226);
}
.navlist a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
}
nav a:hover {
    background-color: #77c9d4;
    color: black;
}
.responsive li {
    display: block;
}
footer, main {
    max-width: 750px;
    margin: 0 auto;
}
main {
    background-color: #a5a5af;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.herocontainer {
    margin: 10px auto;
    position: relative;
}
.herocontainer img {
    width: 100%;
    border: 1px solid black;
}
.summary {
    position: absolute;
    top: 20px;
    left: 40px;
    background: #015249;
    border: 1px solid black;
    opacity: 0.8;
}
.holderbox {
    margin: 10px 0 10px 0;
    border: 1px dashed black;
    padding: 5px;
    background-color: white;
    color: black;
}
footer {
    text-align: center;
}
footer a {
    color: black;
}
