@media only screen and (min-width: 37.5em) {
    nav {
        font-size: 1.1rem;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    #colorLayout {
        grid-template-columns: 1fr 2fr;

    }
    #typLayout {
        grid-template-columns: 1fr 1fr;
    }
    article:nth-child(1) {
        grid-column: span 2;
    }
}