main {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
}
main h4 {
    text-align: center;
}
main div img {
    display: grid;
    justify-items: center;
    margin: 0 auto;
}